@import '../../bruce.scss';

@include bruce-reset;

body {
	font-family: 'Menlo', 'Inconsolata', monospaced;
	font-size: 13px;
}


.wrapper {
	width: 40rem;
	margin-left: auto;
	margin-right: auto;
}

@import '_type.scss';
@import '_code.scss';
@import '_DocItem.scss';

.Table {
	width: 100%;
	margin: 1rem 0;

	td {
		padding: .5rem;
	}

	tbody {
		tr {
			border-top: 1px solid grey(80);
		}
	}

	th {
		font-weight: 600;
		text-align: left;
		padding: .5rem;
	}
}