
/*======\                      __           	
|        \                    |  \          	
 \$$$$$$$$|=\   |=\ |======\   \$$  /=====\ 	
   | $$   |  \  |  \|       \ |  \ /       \	
   | $$   | $$  | $$| $$$$$$$\| $$|  $$$$$$$	
   | $$   | $$  | $$| $$  | $$| $$| $$      	
   | $$   | $$==/ $$| $$  | $$| $$| $$====\ 	
   | $$    \$$    $$| $$  | $$| $$ \$$     \  »»----> LAYOUT	
    \$$     \$$$$$$  \$$   \$$ \$$  \$$$$$*/ 


/*
|--------------------------------------------------------------------------
| Widths
|--------------------------------------------------------------------------
|
| Force an element to a percentage width;
|
*/

@for $i from 0 through 10{
	.l-#{$i}0{	width:percentage($i)/10   !important; }
	.l-#{$i}5{	width:percentage($i)/10+5 !important; }
} 


/*
|--------------------------------------------------------------------------
| Floats
|--------------------------------------------------------------------------
|
*/

.l-right{
	float:right !important;
}

.l-left{
	float:left !important;
}

.l-floatAlign{
	overflow:hidden
}

.l-clearfix{
	@extend %tunic-clearfix; 
}


/*
|--------------------------------------------------------------------------
| Display & Postioning
|--------------------------------------------------------------------------
|
*/

.l-block{
	display:block !important;
}

.l-inlineBlock{
	display: inline-block;
}

.l-relative{
	position: relative;
}


/*
|--------------------------------------------------------------------------
| Vertical Align
|--------------------------------------------------------------------------
|
*/

.l-vert{
	display:table;
	height:100%;
	width:100%;
}

.l-middle{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}


/*
|--------------------------------------------------------------------------
| Misc
|--------------------------------------------------------------------------
|
*/


.l-row{
	margin-bottom:32px;
}

