
/*
|--------------------------------------------------------------------------
| Text Transforms
|--------------------------------------------------------------------------
|
*/

// Capitalize

%t-capitalize{
	text-transform: capitalize;
}
.t-capitalize{
	@extend %t-capitalize; 
}





// !!!

%_typ-ellipsis{
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis; 
}


/*
|--------------------------------------------------------------------------
| Link Hover
|--------------------------------------------------------------------------
|
| lighten color on hover.
|
*/

@mixin tunic-hover($color, $amount:10){
	color:$color;
	&:hover{
		color:lighten($color,$amount);
	}
}