
/*======\                      __           	
|        \                    |  \          	
 \$$$$$$$$|=\   |=\ |======\   \$$  /=====\ 	
   | $$   |  \  |  \|       \ |  \ /       \	
   | $$   | $$  | $$| $$$$$$$\| $$|  $$$$$$$	
   | $$   | $$  | $$| $$  | $$| $$| $$      	
   | $$   | $$==/ $$| $$  | $$| $$| $$====\ 	
   | $$    \$$    $$| $$  | $$| $$ \$$     \  »»----> LAYOUT	
    \$$     \$$$$$$  \$$   \$$ \$$  \$$$$$*/ 


/*
|--------------------------------------------------------------------------
| Wrappers
|--------------------------------------------------------------------------
|
| Page width an auto margins. Stock standard rappin'.
|
*/

%tunic-wrapper{
	$tunic-pageWidth: 1024px !default;
	margin:0 auto;
	width:$tunic-pageWidth; 
}

.l-wrapper{
	@extend %tunic-wrapper; 
}


/*
|--------------------------------------------------------------------------
| Widths
|--------------------------------------------------------------------------
|
| Force an element to a percentage width;
|
*/

@for $i from 0 through 10{
	.l-#{$i}0{	width:percentage($i)/10   !important; }
	.l-#{$i}5{	width:percentage($i)/10+5 !important; }
} 


/*
|--------------------------------------------------------------------------
| Floats
|--------------------------------------------------------------------------
|
*/

.l-right{
	float:right !important;
}

.l-left{
	float:left !important;
}

.l-floatAlign{
	overflow:hidden
}

.l-clearfix{
	@extend %tunic-clearfix; 
}


/*
|--------------------------------------------------------------------------
| Display & Postioning
|--------------------------------------------------------------------------
|
*/

.l-block{
	display:block !important;
}

.l-inlineBlock{
	display: inline-block;
}

.l-relative{
	position: relative;
}


/*
|--------------------------------------------------------------------------
| Vertical Align
|--------------------------------------------------------------------------
|
*/

.l-vert{
	display:table;
	height:100%;
	width:100%;
}

.l-middle{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}


/*
|--------------------------------------------------------------------------
| Spacing
|--------------------------------------------------------------------------
|
*/

$tunic-unit: 16px !default;

%tunic-spaced{
	margin-bottom: $tunic-unit;
}

%tunic-spaced--x2{
	margin-bottom: $tunic-unit * 2;
}



.l-spaced{
	@extend %tunic-spaced; 
}

.l-spaced--x2{
	@extend %tunic-spaced--x2; 
}

