
$bruce-colors: () !default;
$bruce-fonts: () !default;
$bruce-zindex: () !default;
$bruce-breakpoints:() !default;


//
// Functions
//

@import 'src/functions/capitalize';
@import 'src/functions/color';
@import 'src/functions/first';
@import 'src/functions/fixed';
@import 'src/functions/font';
@import 'src/functions/fourProps';
@import 'src/functions/grey';
@import 'src/functions/invert';
@import 'src/functions/last';
@import 'src/functions/mapGetIn';
@import 'src/functions/pastel';
@import 'src/functions/power';
@import 'src/functions/repeatChar';
@import 'src/functions/stripUnits';
@import 'src/functions/zindex';


//
// Mixins
//

@import 'src/mixins/animations';
@import 'src/mixins/boxSizing';
@import 'src/mixins/breakpoints';
@import 'src/mixins/clearfix';
@import 'src/mixins/directionModifiers';
@import 'src/mixins/ellipsis';
@import 'src/mixins/flood';
@import 'src/mixins/fontface';
@import 'src/mixins/grid';
@import 'src/mixins/hide';
@import 'src/mixins/ratio';
@import 'src/mixins/reset';
@import 'src/mixins/size';

