@import '../../bruce.scss';

@include bruce-reset;
@include bruce-box-sizing;

$bruce-colors: (
    'blue': #6CA6CE,
    'green': #86C797,
    'yellow': #E1AE69,
    'orange': #E1865A,
    'white': #e6e6e6,
    'comment': #6D6D6D,
    'red': #C55B4E
);

body {
	font-family: 'Menlo', 'Inconsolata', monospaced;
	font-size: 13px;
	line-height: 1.6;
}


.wrapper {
	width: 60rem;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2rem;
}

.Navigation {
	position: fixed;
	width: 16rem;
	padding-top: 1rem;
	padding-right: 2rem;
	background-color: white;

	ul {
		margin-bottom: 1rem;
	}
}

.Content {
	margin-left: 16rem;
}

@import '_type.scss';
@import '_code.scss';
@import '_DocItem.scss';

.Table {
	width: 100%;
	margin: 1rem 0;

	td {
		padding: .5rem;
	}

	tbody {
		tr {
			border-top: 1px solid grey(80);
		}
	}

	th {
		font-weight: 600;
		text-align: left;
		padding: .5rem;
	}
}