
/// 
/// Returns a media query based on the content of `$bp`.
/// 
/// @example
/// \@include tunic-breakPoint(small) { ... }
/// \@include tunic-breakPoint(max-width: small) { ... }
/// 
/// 

@mixin tunic-breakpoint($bp) {
    // Standard 
    $item: map-get($tunic-breakpoints, $bp);
    
    @if $item {
        $bp: $item;
    }

    @if $tunic-ie == true {
        @content;
    } 

    @else {
        @if type-of($bp) == 'number'{
            @media (min-width: #{$bp})  { 
                @content; 
            }
        }

        @if type-of($bp) == 'list'{
            $first:  nth($bp, 1);
            $bp: nth($bp, 2);

            $item: map-get($tunic-breakpoints, $bp);

            @if $item {
                $bp: $item;   
            }


            @if type-of($first) == 'string'{
                @media (#{$first}: #{$bp}) { 
                    @content; 
                }
            }
            @elseif type-of($first) == 'number'{
                @media (min-width: #{$first}) and (max-width: #{$bp}) { 
                    @content; 
                }
            }
            @else{
                @warn 'tunic-breakpoint: wrong syntax';
            }
        }
    }
}


//
// Retina Breakpoint
//
//
//

@mixin tunic-retina($dpi:2) {
    @media (-webkit-min-device-pixel-ratio: #{$dpi}), (min-resolution: 192dppx) { 
        @content;
    }
}
