
//
// Dev tools.
//
// Things that won't make it into the live site, but are helpfull for debuging
//
//
//

%tunic-dev-outline {
    box-shadow: inset 0 0 2rem $tunic-color-red;
}

@mixin tunic-dev($type) {
    @extend %tunic-dev-#{$type};
}
