/*
    display

    Description
    .display<Inline|InlineBlock|Block|Flex>
    .display<Inline|InlineBlock|Block|Flex>


    Markup:
    <div class="displayInline">inline</div>
    <div class="displayInlineBlock">inline-block</div>
    <div class="displayBlock">block</div>
    <div class="displayFlex">flex</div>

    Styleguide: classes.display
*/
@mixin bruce-classes-display {
    @each $name, $prop in (
        'Inline': inline,
        'InlineBlock': inline-block,
        'Block': block,
        'Flex': flex
    ) {
        .display#{$name} {
            display: $prop;
        }
    }
}
