/* 
    display

    Description
    .<inline|inline-block|block|flex> 

    Markup: 
    <div class="inline">inline</div>
    <div class="inlineBlock">inline-block</div>
    <div class="block">block</div>
    <div class="flex">flex</div>

    Styleguide: classes.display
*/
@mixin bruce-classes-display {
    @each $name in (
        inline,
        inlineBlock,
        block,
        flex
    ) {
        .#{$name} {
            display: $name;
        }
    }
}
