/*
    flexbox

    Description

    .flex-column
    .flex-grow[value <1-5>]
    .flex-shrink[value <1-5>]

    Markup:
    <div class="flex">
        <div class="flex-grow2">flex-grow2</div>
        <div class="flex-grow">flex-grow</div>
        <div class="flex-grow">flex-grow</div>
    </div>

    Styleguide: classes.flexbox
*/
@mixin bruce-classes-flexbox() {

    .flexColumn {
        flex-direction: column;
    }

    @for $i from 1 through 5 {
        $name: $i;
        @if $i == 1 {
            $name: '';
        }
        .flexGrow#{$name} {
            flex-grow: $i;
        }

        .flexShrink#{$name} {
            flex-shrink: $i;
        }
    }
}
