/* 
    position

    Description
    .position<Absolute|Relative|Fixed> 
    .<top|right|bottom|left><number>

    Styleguide: classes.position
*/
@mixin bruce-classes-position {
    @each $name in (
        Absolute,
        Relative,
        Fixed
    ) {
        .position#{$name} {
            position: to-lower-case($name);
        }
    }

    @each $direction in ('top', 'right', 'bottom', 'left') {

        @for $i from 0 through 3 {
            $name: $i;
            @if ($i == 0) {
                $i: .5;
                $name: '05';
            }

            @if ($i == 1) {
                $name: '';
            }

            .#{$direction}#{$name} {
                #{$direction}: #{$i}rem;
            }

        }

    }

}
