
//
// Arrow
//
// Trangle borders
//
//
//

%bruce-arrow {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border: 1em solid transparent;
}

@mixin bruce-arrow($width, $direction, $color) {
    @extend %bruce-arrow; 
    border-width: $width;
    border-#{$direction}-color: $color;
}
