
//
// Opacity
//
// Opacity mixin for older browsers.
//
//
//

@mixin bruce-opacity($val:.5, $color:'null') {
    @warn '[deprecated]: bruce-opacity. Use a post css instead';
    @if $color == 'null'{
        $ie: $val * 100;
        opacity: $val;
        filter: alpha(opacity=#{$ie});
    }
    @else {
        $color: rgba($color, $val);
        $ie: ie-hex-str($color);

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie}, endColorstr=#{$ie});
        zoom: 1;
        background-color: $color;
    }   
    
}
