
%tunic-Input {
    display: block;
    box-sizing: border-box;
    margin-bottom: 16px;
    padding: 0 8px;
    width: 100%;
    height: 32px;
    border: 0;
    border-radius: 0;
    background-color: grey(90);
    color: grey(40);
    font-size: .8em;
    cursor: text;
    appearance: none;
    -webkit-font-smoothing: antialiased;
}  

@mixin tunic-Input() {
    @extend %tunic-Input; 
}
