/* 

The Media Object

Floats an image to either the left or the right and remove the text wrap from the content.

Markup:
<div class="Media {$modifiers}">
    <div class="Media_image"><img src="http://placehold.it/64/64" /></div>
    <div class="Media_body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, maxime, excepturi velit corporis quae placeat quia atque maiores magnam veritatis unde blanditiis sed sequi. Laborum, beatae, iste. Nulla, minima pariatur.</div>
</div>

.Media-right        - Right aligned image.

*/
@mixin bruce-component-media() {
    .Media {
        @include bruce-clearfix;
    }

    .Media_body {
        overflow: hidden;
    }

    .Media_image {
        float: left;
        margin-right: 16px;
    }

    .Media-right {

        > .Media_image {
            float: right;
            margin-left: 32px;
        }
    }
}
