/* 

Tables


*/

@mixin tunic-component-table() {

    %Table-base {
        margin-bottom: 32px;
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        clear: both;
        line-height: 1.5em;

        th,
        td {
            padding: 8px;
            vertical-align: top;
            vertical-align: middle; 
        }

        th {
            @include tunic-behave(notselectable);
            color: grey(60);
            font-weight: normal;
            cursor: pointer;
        }
    }


    .Table {
        @extend %Table-base;

        th {
            text-align: left;            
        }

    }

    .Table-top {
        td {
            vertical-align: top;
        }
    }

}
