/* 

Single Property Animation

Uses the React.addons.CSSTransitionGroup syntax to create simple single property animations.

*/

@mixin bruce-singlePropAnimation($name, $duration, $prop, $fromEnter, $toEnter, $fromLeave:null, $toLeave:null) {
    @if ($fromLeave == null){
        $fromLeave: $fromEnter;
    }

    @if ($toLeave == null){
        $toLeave: $toEnter;
    }

    .#{$name}-enter {
        #{$prop}: #{$fromEnter};

        &.#{$name}-enter-active {
            transition: all $duration;
            #{$prop}: #{$toEnter};
        }
    }

    .#{$name}-leave {
        transition: all $duration;
        #{$prop}: #{$fromLeave};

        &.#{$name}-leave-active {
            #{$prop}: #{$toLeave};
        }
    }
}
