
//
// Behaviours
//
// Change the default behaviour of an element.
//
//
//

%bruce-behave-notselectable {
    -webkit-touch-callout: none;  
    user-select: none;
}

%bruce-behave-button {
    @extend %bruce-behave-notselectable; 
    cursor: pointer;
}

@mixin bruce-behave($type) {
    @extend %bruce-behave-#{$type};
}
