
//
// Browser Hacks
//
// Stuff that probably shouldn't exist
//
//
//

%bruce-hack-hardware {
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
}

@mixin bruce-hack($type) {
    @warn '[deprecated]: bruce-hack. Let the browser optimise itself';
    @extend %bruce-hack-#{$type};
}
