
//
// iOS
//
// Simple extends for iOS behavior
//

%bruce-ios-nohighlight {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

%bruce-ios-reset {
    -webkit-appearance: none;
    border-radius: 0;
}

%bruce-ios-scroll {
    -webkit-overflow-scrolling: touch;
}

@mixin bruce-ios($type) {
    @extend %bruce-ios-#{$type};
};
