@function bruce-power ($x, $n) {
    @warn '[deprecated]: bruce-power. `power()`';
    $ret: 1;
    @if $n == 0 {
        @return $ret;
    }
    @if $n >= 0 {
        @for $i from 1 through $n {
            $ret: $ret * $x;
        } 
    } @else {
        @for $i from $n to 0 {
            $ret: $ret / $x;
        }
    }
    
    @return $ret;
}


@function bruce-fixed ($val, $places) {
    @warn '[deprecated]: bruce-power. `fixed()`';
    $p: bruce-power(10, $places);
    @return floor($val * $p) / $p;
}
