
//
// Ellipsis
//
// ...
//
//

%bruce-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin bruce-ellipsis($cutoff:null) {
    @extend %bruce-ellipsis;

    @if $cutoff != null {
        padding-right: $cutoff;      
    }   
}
