
//
// Ellipsis
//
// ...
//
// Styleguide 1.1.1
//

%tunic-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin tunic-ellipsis($cutoff:null) {
    @extend %tunic-ellipsis;

    @if $cutoff != null {
        padding-right: $cutoff;      
    }   
}
