
//
// Font Face
//
// Chains all your font face declarations into one include.
//
//
//

@mixin tunic-fontface($lists...) {
    @each $name, $path, $font-weight, $font-style in $lists {


        @if ($font-weight == null) {
            $font-weight: normal;
        }

        @if ($font-style == null) {
            $font-style: normal;
        }
        
        @font-face {
            font-family: $name;
            src: url("#{$path}.eot");
            src: url("#{$path}.eot?#iefix") format("embedded-opentype"),
                 url("#{$path}.woff2") format("woff2"),
                 url("#{$path}.woff") format("woff"),
                 url("#{$path}.ttf") format("truetype"),
                 url("#{$path}.svg##{$name}") format("svg");
            font-weight: $font-weight;
            font-style: $font-style;
        }
    }   
}
