
//
// Vertical Rhythm
//
// Calculates margins, font size and line height for h1 - h4
// $baseFontSize, $lineHeight, $scaling
//
//
//

@mixin bruce-verticalRhythm($size, $rhythm) {
    $fontSize: nth($rhythm, 1);
    $lineHeight: nth($rhythm, 2);
    $scaling: nth($rhythm, 3);

    $power: 4 - $size;
    $topMultipier: 2;

    @if ($power < 2){
        $topMultipier: 1;
    }
    
    $font-size: (($fontSize * bruce-power($scaling, $power)) / $fontSize)+em;
    $line: $lineHeight / bruce-power($scaling, $power);
    $lines: floor(bruce-power($scaling, $power));
    
    font-size: bruce-fixed(($fontSize * bruce-power($scaling, $power)) / $fontSize, 1)+em;
    line-height: bruce-fixed($line * $lines, 1) + em;
    margin-bottom: bruce-fixed($line, 1) + em;
    margin-top: bruce-fixed($topMultipier * $line, 1) + em;
}
