
//
// Vertical Rhythm
//
// Calculates margins, font size and line height for h1 - h4
// $baseFontSize, $lineHeight, $scaling
//
//
//

@mixin bruce-verticalRhythm($size, $rhythm) {
    $fontSize: nth($rhythm, 1);
    $lineHeight: nth($rhythm, 2);
    $scaling: nth($rhythm, 3);

    $power: 4 - $size;
    $topMultipier: 2;

    @if ($power < 2){
        $topMultipier: 1;
    }
    
    $font-size: (($fontSize * power($scaling, $power)) / $fontSize)+em;
    $line: $lineHeight / power($scaling, $power);
    $lines: floor(power($scaling, $power));
    
    font-size: fixed(($fontSize * power($scaling, $power)) / $fontSize, 1)+em;
    line-height: fixed($line * $lines, 1) + em;
    margin-bottom: fixed($line, 1) + em;
    margin-top: fixed($topMultipier * $line, 1) + em;
}
