
/// 
/// returns a map of the four property shorthand
/// 
/// @group functions
/// @return  {map} 
/// 
@function fourProps($props...) {
    $length: length($props);

    $top:       nth($props, 1);
    $right:     nth($props, 1);
    $bottom:    nth($props, 1);
    $left:      nth($props, 1);

    @if ($length == 2) {
        $right:     nth($props, 2);
        $left:      nth($props, 2);
    }

    @if ($length == 3) {
        $right:     nth($props, 2);
        $bottom:    nth($props, 3);
        $left:      nth($props, 2);
    }

    @if ($length == 4) {
        $right:     nth($props, 2);
        $bottom:    nth($props, 3);
        $left:      nth($props, 4);
    }


    @return (
        top: $top,     
        right: $right,   
        bottom: $bottom,  
        left: $left  
    );
}
