
/// 
/// Returns a named map of the four property shorthand
/// 
/// @group functions
/// @param {list} $props
/// @return {map} 
/// @example 
///     fourProps(1px 2px 3px 4px)  // => (top: 1px, right: 2px, bottom: 3px, left: 4px)
///     fourProps(1rem 2rem)        // => (top: 1rem, right: 2rem, bottom: 1rem, left: 2rem)
/// 
@function fourProps($props) {
    $length: length($props);

    $top:       nth($props, 1);
    $right:     nth($props, 1);
    $bottom:    nth($props, 1);
    $left:      nth($props, 1);

    @if ($length == 2) {
        $right:     nth($props, 2);
        $left:      nth($props, 2);
    }

    @if ($length == 3) {
        $right:     nth($props, 2);
        $bottom:    nth($props, 3);
        $left:      nth($props, 2);
    }

    @if ($length == 4) {
        $right:     nth($props, 2);
        $bottom:    nth($props, 3);
        $left:      nth($props, 4);
    }


    @return (
        top: $top,     
        right: $right,   
        bottom: $bottom,  
        left: $left  
    );
}
