
///
/// Returns values from nested lists
/// @link    https://github.com/jlong
/// @group   functions
/// @param   {list} $map
/// @param   {list} $keys
/// @return  {value}
/// @example
///     map-fetch($myNestedMap, 'key' 'deeperKey' $variableKey);
///
@function mapGetIn($map, $keys) {
    $key: nth($keys, 1);
    $length: length($keys);
    $value: map-get($map, $key);
    @if ($length > 1) {
        $rest: ();
        @for $i from 2 through $length {
            $rest: append($rest, nth($keys, $i));
        }
        @return map-fetch($value, $rest);
    } @else {
        @return $value;
    }
}
