
/// 
/// Returns `$number` to the power of `$exponent`
/// @group functions
/// @param  {number} $number
/// @param  {number} $exponent
/// @return {number} 
/// @example
///     power(10, 2); // => 100
/// 

@function power($number, $exponent) {
    $value: 1;
    @if $exponent > 0 {
        @for $i from 1 through $exponent {
            $value: $value * $number;
        }
    }
    @else if $exponent < 0 {
        @for $i from 1 through -$exponent {
            $value: $value / $number;
        }
    }
    @return $value;
}