
///
/// A sensible box-sizing inherit
///
/// @group mixin
/// @output SHOW

@mixin BruceBoxSizing {
    html {
        box-sizing: border-box;
    }

    * {
        box-sizing: inherit;

        &:before,
        &:after {
            box-sizing: inherit;
        }
    }
}
