
///
/// Applies the relevant styles to implement `text-overflow: ellipsis`.
/// `$cutoff` allows the user to shrink in the space between the edge and...
/// @group typography
/// @param {value} $cutoff
///

@mixin BruceEllipsis($cutoff: null) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @if $cutoff != null {
        padding-right: $cutoff;
    }
}

