
///
/// Absolutely position an element to it's containing bounds.
///
/// @group mixin
/// @output SHOW

@mixin BruceFlood() {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
