

@mixin BruceGridWidths($number) {
    display: table-cell;
    margin: 0;

    &-paddingMega {
        border-left: 4rem solid transparent;
        border-right: 4rem solid transparent;
    }

    &-paddingKilo {
        border-left: 2rem solid transparent;
        border-right: 2rem solid transparent;
    }

    &-padding {
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
    }

    &-paddingMilli {
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
    }

    &:first-child {
        border-left: 0;
    }

    &:last-child {
        border-right: 0;
    }

    // column widths
    @for $i from 1 through $number {
        &-#{$i} {
            width: (100% / $number) * $i;

            // quash borders on correct sides of swapped 2 column grids
            &-push#{$number - $i} {
                border-right: 0;
            }

            &-pull#{$number - $i} {
                border-left: 0;
            }
        }

        // pushing and pulling columns
        &-push#{$i} {
            left: (100% / $number) * $i;
            position: relative;
        }

        &-pull#{$i} {
            position: relative;
            right: (100% / $number) * $i;
        }
    }
}


///
/// Create a table grid
/// @group mixin
/// @param {string} $name
/// @param {number} $number
///

@mixin BruceGrid($name: 'Grid', $number: 12) {
    .#{$name} {
        box-sizing: border-box;
        display: table;
        table-layout: fixed;
        width: 100%;

        &-auto {
            table-layout: auto;
        }

        &_column {
            box-sizing: border-box;
            display: block;
            vertical-align: top;

            @include BruceBreakpoint('small') {
                @include BruceGridWidths($number);
            }

            &-always {
                @include BruceGridWidths($number);
            }

            &-shrink {
                white-space: nowrap;
                width: 1px;
            }
        }

        @content;
    }
}
