///
/// Uses `:before` to create a fixed ratio for the element
/// @group structure
/// @param {number} $width
/// @param {number} $height
///

@mixin BruceRatio($width, $height) {
    &:before {
        content: '';
        display: block;
        padding-top: $height / $width * 100%;
    }
}
