
.flex-container {
    display: flex;
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}


.FlexGrid {
    display: flex;
    height: 100%;
}

.FlexGrid_pane {
    flex-grow: 1;
    position: relative;
}

.h-100 {
    height: 100%;
}