
.flex {
    display: flex;
}

.flex-column {
    flex-flow: column;
}


@for $i from 1 through 5 {
    $name: $i;
    @if $i == 1 {
        $name: '';
    }  
    .flex-grow#{$name} {
        flex-grow: $i;
    }      
}


.FlexGrid {
    display: flex;
    height: 100%;
}

.FlexGrid_col {
    flex-grow: 1;
    position: relative;
    width: 100%;
    transition: 320ms;
}

.FlexGrid_pane {
    overflow: auto;
    // box-shadow inset -1px 0 grey(80);
    border-right: 1px solid grey(80);
}

.FlexGrid-shrink {
    flex-shrink: 2;
}


.h-100 {
    height: 100%;
}

.pane {
    overflow: auto;
}
