
///
/// structure classes for floating
///
/// @group structure

@mixin bruce-float() {
    @warn '[deprecated]: .left & .right. Use float-left & float-right instead';

    /* 
        float

        .float-<left|right>

        Markup: 
        <div class="float-left box">float left</div>
        <div class="float-right box"> float right</div>

        Styleguide: float
    */   

    .float-left,
    .left {
        float: left;
    }

    .float-right,
    .right {
        float: right;
    }
}
