
///
/// structure classes for floating
///
/// @group structure

@mixin bruce-float() {
    /*
        float

        .float<Left|Right>

        Markup:
        <div class="floatLeft box">float left</div>
        <div class="floatRight box"> float right</div>

        Styleguide: float
    */

    .floatLeft {
        float: left;
    }

    .floatRight {
        float: right;
    }
}
