///
/// Table grid
///
/// @group structure
/// @param {string} $grid ['Grid']
/// @param {string} $column ['Col-']
/// @param {number} $number [12]
/// @todo make float/flex versions
/// @example scss
///    @include bruce-grid();
/// @example html
///     <div class="Grid">
///         <div class="Col-3"></div> // 1/4
///         <div class="Col-3"></div> // 1/4
///         <div class="Col-"></div>  // Remaining Space
///     </div>   



@mixin bruce-grid($grid:'Grid', $col:'Col-', $number:12) {
    $gutter: 1rem !default;

    .#{$grid} {
        box-sizing: border-box;
        display: table;
        width: 100%;
        table-layout: fixed;        

        & > [class*=#{$col}] {
            box-sizing: border-box;
            display: block;
            vertical-align: top;

            margin-bottom: 1rem;

            @include bruce-breakpoint(small) {
                display: table-cell;
                border-right: $gutter solid transparent;
                border-left: $gutter solid transparent;
                margin: 0;
            
                &:first-child {
                    border-left: 0;
                }

                &:last-child {
                    border-right: 0;
                }

                // nullify quashed borders on pushed and pulled cols
                &[class*="#{$col}push"],
                &[class*="#{$col}pull"] {
                    border-right: $gutter solid transparent;
                    border-left: $gutter solid transparent;
                }
            }
        }
      
        // Alignment
        &.#{$grid}-middle { 
            & > [class*=#{$col}] {
                vertical-align: middle;
            }
        }

        &.#{$grid}-bottom {
            & > [class*=#{$col}] {
                vertical-align: bottom;
            }
        }

        // Sizing
        &.#{$grid}-tight {
            & > [class*=#{$col}] {
                border-width: $gutter / 2;
                margin-bottom: $gutter / 2;
            }
        }

        &.#{$grid}-tighter {
            & > [class*=#{$col}] {
                border-width: $gutter / 4;
                margin-bottom: $gutter / 4;                
            }
        }

        &.#{$grid}-flush {
            & > [class*=#{$col}] {
                border: 0;
            }
        }

        @include bruce-breakpoint(small) {
            @for $i from 1 through $number {
                // column widths
                & > .#{$col}#{$i} {
                    width: (100% / $number) * $i;
                }
                // pushing and pulling columns
                & > .#{$col}push#{$i} {
                    position: relative;
                    left: (100% / $number) * $i;
                }
                & > .#{$col}pull#{$i} {
                    position: relative;
                    right: (100% / $number) * $i;
                }
                // quash borders on correct sides of swapped 2 column grids
                & > .#{$col}#{$i}.#{$col}push#{$number - $i} {
                    border-right: 0;
                }
                & > .#{$col}#{$i}.#{$col}pull#{$number - $i} {
                    border-left: 0;
                }
            }
        }   
    }
}
