
/* 
Margin Tools

Margin combinations are prioritized by giving them first choice on semantic short names.
Paddings then use the same names prefixed with `padding-`

* `.column, .column2`
* `.row, .row2`

Markup:
<div class="column">Column</div>
<div class="column2">Column2</div>
<div class="row">Row</div>
<div class="row2">Row2</div>
<h2 class="hug">hug</h2>

<h2 class="hug-top">hug-top</h2>
<h2 class="hug-bottom">hug-bottom</h2>

bruce.Structure
*/

@mixin bruce-structure-margin {
    @warn '[deprecated]: bruce-structure-margin. Use bruce-classes instead';
    @include bruce-structure-column;
    @include bruce-structure-column2;
    @include bruce-structure-row;
    @include bruce-structure-row2;
    @include bruce-structure-push;
    @include bruce-structure-push2;
    @include bruce-structure-hug;
}

@mixin bruce-structure-column {
    @warn '[deprecated]: bruce-structure-column. Use bruce-classes instead';
    .column {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@mixin bruce-structure-column2 {
    @warn '[deprecated]: bruce-structure-column2. Use bruce-classes instead';
    .column2 {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@mixin bruce-structure-row {
    @warn '[deprecated]: bruce-structure-row. Use bruce-classes instead';
    .row {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@mixin bruce-structure-row2 {
    @warn '[deprecated]: bruce-structure-row2. Use bruce-classes instead';
    .row2 {
        margin: 2rem 0;
    }
}

@mixin bruce-structure-push {
    @warn '[deprecated]: bruce-structure-push. Use bruce-classes instead';
    .push {
        margin-bottom: 1rem;
    }
}

@mixin bruce-structure-push2 {
    @warn '[deprecated]: bruce-structure-push2. Use bruce-classes instead';
    .push2 {
        margin-bottom: 2rem;
    }
}

@mixin bruce-structure-hug {
    @warn '[deprecated]: bruce-structure-hug. Use bruce-classes instead';
    .hug {
        margin: 0;
    }

    @each $name in $bruce-directions {
        .hug-#{$name} {
            margin-#{$name}: 0;
        }
    }
}
