
/// 
/// Padding Tools
/// @group structure
/// 
/// 


@mixin bruce-structure-padding-all {
    @include bruce-structure-padding;
    @include bruce-structure-padding2;
    @include bruce-structure-padding-hard;
    @include bruce-structure-padding-mobile;
    @include bruce-structure-padding-row;
    @include bruce-structure-flush;
}

/// 
/// Base Padding
/// @group structure
/// 
@mixin bruce-structure-padding {
    .padding {
        @include bruce-breakpoint(map-fetch($bruce-breakpoints, tiny)) {
            padding: 1rem;
        }
    }  
}

/// 
/// Double Padding
/// @group structure
/// 
@mixin bruce-structure-padding2 {
    .padding2 {
        @include bruce-breakpoint(map-fetch($bruce-breakpoints, tiny)) {
            padding: 2rem;
        }
    }
}

/// 
/// Hard Padding
/// @group structure
/// 
@mixin bruce-structure-padding-hard {
    .padding-hard {
        padding: 1rem;
    }
}

/// 
/// Mobile Padding
/// @group structure
/// 
@mixin bruce-structure-padding-mobile {
    .padding-mobile {
        padding: 1rem;
        
        @include bruce-breakpoint(map-fetch($bruce-breakpoints, tiny)) {
            padding: 0;
        }
    }
}

/// 
/// Row Padding
/// @group structure
/// 
@mixin bruce-structure-padding-row {
    .padding-row {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@mixin bruce-structure-flush {

    .flush {
        padding: 0;
    }

    .flush-right {
        padding-right: 0;
    }

    // @each $name in $bruce-directionsList {
    //     @debug $name;
    //     .flush-#{$name} {
    //         padding-#{$name}: 0;
    //     }
    // }
}
