
/// 
/// Padding Tools
/// @group structure
/// 
/// 

@debug 'padding';

@mixin tunic-structure-padding-all {
    @include tunic-structure-padding;
    @include tunic-structure-padding2;
    @include tunic-structure-padding-hard;
    @include tunic-structure-padding-mobile;
    @include tunic-structure-padding-row;
}

/// 
/// Base Padding
/// @group structure
/// 
@mixin tunic-structure-padding {
    .padding {
        @include tunic-breakpoint(map-fetch($tunic-breakpoints, tiny)) {
            padding: baseUnit(1);
        }
    }  
}

/// 
/// Double Padding
/// @group structure
/// 
@mixin tunic-structure-padding2 {
    .padding2 {
        @include tunic-breakpoint(map-fetch($tunic-breakpoints, tiny)) {
            padding: baseUnit(2);
        }
    }
}

/// 
/// Hard Padding
/// @group structure
/// 
@mixin tunic-structure-padding-hard {
    .padding-hard {
        padding: baseUnit(1);
    }
}

/// 
/// Mobile Padding
/// @group structure
/// 
@mixin tunic-structure-padding-mobile {
    .padding-mobile {
        padding: baseUnit(1);
        
        @include tunic-breakpoint(map-fetch($tunic-breakpoints, tiny)) {
            padding: 0;
        }
    }
}

/// 
/// Row Padding
/// @group structure
/// 
@mixin tunic-structure-padding-row {
    .padding-row {
        padding-top: baseUnit(2);
        padding-bottom: baseUnit(2);
    }
}

@mixin tunic-structure-flush {
    .hug {
        margin: 0;
    }

    .hug-top {
        margin-top: 0;
    }

    .hug-bottom {
        margin-bottom: 0;
    }

}
