
/**
 * Position Veritcal Middle
 * @group Position
 * 
 */

%bruce-position-verticalMiddle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin bruce-position-verticalMiddle() {
    @extend %bruce-position-verticalMiddle;
}
