///
/// One declaration for width and height 
///
/// @group structure
/// @param {value} $width
/// @param {value} $height [null]
/// @example 
///		.code {
/// 		@include size(20px);
///			// width: 20px;
///			// height: 20px;
/// 	}
///
@mixin bruce-size($width, $height:null) {
    @if $height != null {
        width: $width;
        height: $height;  
    } 
    @else {
        width: $width;
        height: $width;
    }
}
