


%bruce-vertical-align {
    display: table;
    height: 100%;
    width: 100%;
}

%bruce-vertical-align_inner {
    display: table-cell;
    vertical-align: middle;
}


///
/// Table based vertical align
/// @group structure
/// @param {string} $wrapperClass
/// @param {string} $innerClass
/// @todo add more types of vertial aligns
///

@mixin bruce-verticalAlign($wrapperClass:'VerticalAlign', $innerClass:'VerticalAlign_inner') {
    .#{$wrapperClass} {
        @extend %bruce-vertical-align;
    }

    .#{$innerClass} {
        @extend %bruce-vertical-align_inner;
    }
}
