
///
/// Uses the $sizes list to create a series of percentage based helper classes 
/// at intervals of 5%. Defaults are from 0 to 100.
/// @group structure
/// @param {list} $sizes [(0 1 2 3 4 5 6 7 8 9 10)]
/// @example scss
///     @include bruce-widths(1 2);
/// @example css
///     .w10 {
///       width: 10% !important;
///     }
///     .w15 {
///       width: 15% !important;
///     }
///     .w20 {
///       width: 20% !important;
///     }
///     .w25 {
///       width: 25% !important;
///     }

@mixin bruce-generateWidth($suffix, $index) {

    .w#{capitalize($suffix)}#{$index}0,
    .width#{capitalize($suffix)}#{$index}0 {
        width: percentage($index) / 10 !important; 
    }

    @if $index != 10 {
        .w#{$index}5,
        .width#{capitalize($suffix)}#{$index}5 { 
            width: percentage($index) / 10 + 5 !important; 
        }
    }

    @if $index == 0 {
        .w#{$index}0,
        .width#{capitalize($suffix)}#{$index}0 {
            width: 1% !important;
        }
    } 
}

@mixin bruce-widths($sizes:(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)) {
    @for $i from first($sizes) through last($sizes) {
        
        @each $breakpointName, $breakpointSize in $bruce-breakpoints {
            @include bruce-breakpoint($breakpointSize) {
                @include bruce-generateWidth($breakpointName, $i);
            }
        }

        @include bruce-generateWidth('', $i);
    
    }
}
