
/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
|
*/

$tunic-unit:            16px    !default;
$tunic-grid_gutter:     16px    !default;
$tunic-ie:              false   !default;



$tunic-breakpoint--small:   21em    !default;






/*
|--------------------------------------------------------------------------
| Size
|--------------------------------------------------------------------------
|
| One declaration for width and height 
|
*/

@mixin tunic-size($w, $h:null){
    @if $h != null {
        width:$w;
        height:$h;  
    }
    @else{
        width:$w;
        height:$w;
    }
}


/*
|--------------------------------------------------------------------------
| Columns
|--------------------------------------------------------------------------
|
| Uses borders to create columns. 
|
*/

@mixin tunic-columns($spacing:4px, $color:transparent){
    border-right:$spacing solid $color;
    border-left:$spacing solid $color;
    &:first-child{
        border-left:none;
    }
    &:last-child{
        border-right:none;
    }
}



/*
|--------------------------------------------------------------------------
| Clearfix
|--------------------------------------------------------------------------
|
*/

%tunic-clearfix{
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin tunic-clearfix{
    @extend %tunic-clearfix; 
}

/*
|--------------------------------------------------------------------------
| iOS Extends
|--------------------------------------------------------------------------
|
|
*/

%tunic-ios--nohighlight{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

%tunic-ios--appearance{
    -webkit-appearance: none;
    border-radius: 0;
}

%tunic-ios--scroll{
    -webkit-overflow-scrolling:touch;
}

@mixin tunic-ios($type){
    @extend %tunic-ios--#{$type};
};



/*
|--------------------------------------------------------------------------
| Behaviours
|--------------------------------------------------------------------------
|
| Change the default behaviour of an element.
|
*/

%tunic-behave--notselectable{
    -webkit-touch-callout: none;  
    user-select: none;
}

%tunic-behave--button{
    @extend %tunic-behave--notselectable; 
    cursor:pointer;
}

@mixin tunic-behave($type){
    @extend %tunic-behave--#{$type};
};




/*
|--------------------------------------------------------------------------
| Browser Performance Hacks
|--------------------------------------------------------------------------
|
*/

%tunic-hack--hardware{
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
}



/*
|--------------------------------------------------------------------------
| Opacity
|--------------------------------------------------------------------------
| 
| Opacity mixin for older browsers.
|
*/

@mixin tunic-opacity($val:0.5, $color:'null'){

    @if $color == 'null'{
        $ie: $val * 100;
        opacity:$val;
        filter: alpha(opacity=#{$ie});
    }
    @else{
        $color:rgba($color,$val);
        $ie: ie-hex-str($color);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie}, endColorstr=#{$ie});
        zoom: 1;
        background-color: $color;
    }   
    
}


/*
|--------------------------------------------------------------------------
| Arrows
|--------------------------------------------------------------------------
|
*/

%tunic-arrow{
    display: block;
    content:"";
    width:0;
    height:0;
    border:1em solid transparent;
}

@mixin tunic-arrow($width,$direction,$color){
    @extend %tunic-arrow; 
    border-width:$width;
    border-#{$direction}-color:$color;
}

