
$tunic-ie:                      false   !default;

$tunic-breakpoint--small:       21em    !default;

$tunic-rems:                    true    !default;
$tunic-baseSize:                16      !default;


$tunic-colors: (
    'hero': #e65053,
    'dark': grey(20),
    'alt': grey(90)
) !default;

$tunic-fontWeights: (
    bold: 600,
    regular: 400,
    light: 300,
    thin: 100
);

// Default Breakpoints
$tunic-breakpoints:(
    large:  baseUnit(120),
    medium: baseUnit(64),
    small:  baseUnit(48),
    tiny:   baseUnit(30)
);


$tunic-directionsList: (
    top,
    right,
    bottom,
    left
);
