
$bruce-ie:                      false   !default;

$bruce-breakpoint--small:       21em    !default;

$bruce-rems:                    true    !default;
$bruce-baseSize:                16      !default;


$bruce-colors: (
    'hero': #e65053,
    'dark': grey(20),
    'alt': grey(90)
) !default;

$bruce-fontWeights: (
    bold: 600,
    regular: 400,
    light: 300,
    thin: 100
);

// Default Breakpoints
$bruce-breakpoints:(
    large:  120rem,
    medium: 64rem,
    small:  48rem,
    tiny:   30rem
);


$bruce-directionsList: (
    top,
    right,
    bottom,
    left
);
