
/*
|--------------------------------------------------------------------------
| Boxsizing
|--------------------------------------------------------------------------
|
*/

%tunic-boxsizing{
	box-sizing:border-box;
}

@mixin tunic-boxsizing(){
	@extend %tunic-boxsizing;
}


/*
|--------------------------------------------------------------------------
| Wrappers
|--------------------------------------------------------------------------
|
| Page width an auto margins. Stock standard rappin'.
|
*/

@mixin tunic-wrapper($width:1024px){
	width:$width;
	margin:0 auto;
}


/*
|--------------------------------------------------------------------------
| Grid
|--------------------------------------------------------------------------
|
*/

@mixin tunic-grid($col:'col--'){
	$gutter: $tunic-grid_gutter;
	@extend %tunic-boxsizing;
	display:table;
	width:100%;
	table-layout: fixed;

	& > [class*=#{$col}] {
		@extend %boxsizing;
		display:table-cell;
		border-right: $gutter solid transparent;
		border-left: $gutter solid transparent;
		vertical-align: top;
		&:first-child{
			border-left:none;
		}
		&:last-child{
			border-right:none;
		}
	}

	// Alignment
	&.is-middle{
		& > [class*=#{$col}] {
			vertical-align: middle;
		}
	}
	&.is-bottom{
		& > [class*=#{$col}] {
			vertical-align: bottom;
		}
	}

	// Sizing
	&.is-tight{
		& > [class*=#{$col}] {
			border-width:$gutter / 2;
		}
	}
}

@mixin tunic-grid_col($col:'col--',$num:12){
	@for $i from 1 through $num{
		.#{$col}#{$i}{
			width:(100% / $num) * $i;
		}
	} 
}



/*
|--------------------------------------------------------------------------
| Widths
|--------------------------------------------------------------------------
|
| Force an element to a percentage width;
|
*/

@mixin tunic-widths($sizes:(0,1,2,3,4,5,6,7,8,9,10)){
	@for $i from first($sizes) through last($sizes){
		@if $i == 0{
			.l-#{$i}0{	width:1%}
		}
		.l-#{$i}0{	width:percentage($i)/10   !important; }
		@if $i != 10{
			.l-#{$i}5{	width:percentage($i)/10+5 !important; }
		}
		
	}
}

/*
|--------------------------------------------------------------------------
| Vertical Align
|--------------------------------------------------------------------------
|
*/

%l-verticalAlign{
	display:table;
	height:100%;
	width:100%;
}

%l-verticalAlign_inner{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

@mixin tunic-verticalAlign($wrapper:'l-verticalAlign', $inner:'l-verticalAlign_inner'){
	.#{$wrapper}{
		@extend %l-verticalAlign;
	}

	.#{$inner}{
		@extend %l-verticalAlign_inner;
	}
}



