
/*
|--------------------------------------------------------------------------
| Font Face
|--------------------------------------------------------------------------
|
| @List [font-name file-path,]
|  
| Chains all you font face declataritons into one include.
|
*/

@mixin tunic-fontface($lists...) {
    @each $i in $lists {
        @font-face {
            font-family: #{nth($i, 1)};
            src: url('#{nth($i, 2)}.eot');
            src: url('#{nth($i, 2)}.eot?#iefix') format('embedded-opentype'),
                 url('#{nth($i, 2)}.woff') format('woff'),
                 url('#{nth($i, 2)}.ttf') format('truetype'),
                 url('#{nth($i, 2)}.svg##{nth($i, 1)}') format('svg');
            font-weight: normal;
            font-style: normal;
        }
    }   
}


/*
|--------------------------------------------------------------------------
| Link Hover
|--------------------------------------------------------------------------
|
| lighten color on hover.
|
*/

@mixin tunic-hover($color, $amount:10){
    color:$color;
    &:hover{
        color:lighten($color,$amount);
    }
}


/*
|--------------------------------------------------------------------------
| Ellipsis
|--------------------------------------------------------------------------
|
*/

%tunic-ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

@mixin tunic-ellipsis($cutoff:null){
    @extend %tunic-ellipsis;
    @if $cutoff != null {
        padding-right:$cutoff;      
    }   
}

@mixin tunic-verticalRhythm($size, $rhythm) {

    $fontSize: nth($rhythm, 1);
    $lineHeight: nth($rhythm, 2);
    $scaling: nth($rhythm, 3);

    $power: 4 - $size;
    $topMultipier: 2;

    @if ($power < 2){
        $topMultipier: 1;
    }
    
    $font-size: (($fontSize * tunic-power($scaling, $power)) / $fontSize)+em;
    $line: $lineHeight / tunic-power($scaling, $power);
    $lines: floor(tunic-power($scaling, $power));
    
    font-size: tunic-fixed(($fontSize * tunic-power($scaling, $power)) / $fontSize, 1)+em;
    line-height: tunic-fixed($line * $lines, 1) + em;
    margin-bottom: tunic-fixed($line, 1) + em;
    margin-top: tunic-fixed($topMultipier * $line, 1) + em;
}




