
//
// Flood
//
// One declaration for width and height 
//
//
//

@mixin bruce-size($w, $h:null) {
    @if $h != null {
        width: $w;
        height: $h;  
    } 
    @else {
        width: $w;
        height: $w;
    }
}
