
//
// Clearfix
//
// Table Style
//
//
//

%bruce-clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin bruce-clearfix {
    @extend %bruce-clearfix; 
}
