
//
// Columns
//
// Uses borders to create columns
//
//
//

@mixin bruce-columns($spacing:4px, $color:transparent) {
    border-right: $spacing solid $color;
    border-left: $spacing solid $color;

    &:first-child {
        border-left: 0;
    }

    &:last-child {
        border-right: 0;
    }
}
