
//
// Flood
//
// Absolutley position an element as far as it's containing elements bounds
//
//
//

%bruce-flood {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@mixin bruce-flood() {
    @extend %bruce-flood;
}
