
//
// Grid
//
// Uses the $sizes list to create percentage based helper classes
//
//
//

@mixin tunic-grid($grid:'Grid', $col:'Col-', $num:12) {
    .#{$grid} {
        $gutter: $tunic-grid-gutter;
        box-sizing: border-box;
        display: table;
        width: 100%;
        table-layout: fixed;        

        & > [class*=#{$col}] {
            box-sizing: border-box;
            display: block;
            vertical-align: top;

            margin-bottom: 1rem;

            @include tunic-breakpoint($tunic-breakpoint--small) {
                display: table-cell;
                border-right: $gutter solid transparent;
                border-left: $gutter solid transparent;
                margin: 0;
            }
            
            &:first-child {
                border-left: 0;
            }

            &:last-child {
                border-right: 0;
            }
        }

        // Alignment
        &.#{$grid}-middle {
            & > [class*=#{$col}] {
                vertical-align: middle;
            }
        }

        &.#{$grid}-bottom {
            & > [class*=#{$col}] {
                vertical-align: bottom;
            }
        }

        // Sizing
        &.#{$grid}-tight {
            & > [class*=#{$col}] {
                border-width: $gutter / 2;
            }
        }

        &.#{$grid}-flush {
            & > [class*=#{$col}] {
                border: 0;
            }
        }
    }

    @include tunic-breakpoint($tunic-breakpoint--small) {
        @for $i from 1 through $num {
            .#{$col}#{$i} {
                width: (100% / $num) * $i;
            }
        }  
    }   
}
