
/* styleguide
name:           Ratio
category:       bruce => Structure
description:    
----
*/

@mixin bruce-ratio($width, $height) {
    &:before {
        content: '';
        display: block;
        padding-top: $height / $width * 100%;
    }
}