
/* styleguide
name:           Ratio
category:       Tunic => Structure
description:    
----
*/

@mixin tunic-ratio($width, $height) {
    &:before {
        content: '';
        display: block;
        padding-top: $height / $width * 100%;
    }
}