
//
// Vertical Align
//
// Vertical Align tools
//
//
//

%l-verticalAlign {
    display: table;
    height: 100%;
    width: 100%;
}

%l-verticalAlign_inner {
    display: table-cell;
    vertical-align: middle;
}

@mixin tunic-verticalAlign($wrapper:'VerticalAlign', $inner:'VerticalAlign_inner') {
    .#{$wrapper} {
        @extend %l-verticalAlign;
    }

    .#{$inner} {
        @extend %l-verticalAlign_inner;
    }
}
