
//
// Vertical Align
//
// Vertical Align tools
//
//
//

%bruce-vertical-align {
    display: table;
    height: 100%;
    width: 100%;
}

%bruce-vertical-align_inner {
    display: table-cell;
    vertical-align: middle;
}

@mixin bruce-verticalAlign($wrapper:'VerticalAlign', $inner:'VerticalAlign_inner') {
    .#{$wrapper} {
        @extend %bruce-vertical-align;
    }

    .#{$inner} {
        @extend %bruce-vertical-align_inner;
    }
}
